<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Fire off the update-scripts util-unit script on ALL nodes.&#xd;
This should force all nodes to pull new contents into /home/core/mesos-systemd&#xd;
&#xd;
The fleet unit that does this will then continue to run on all new nodes too.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
eval ${SETUPKEYS}

# update scripts before submitting again
echo &quot;---- updating scripts ----&quot;
eval &quot;${SSHCMD} &apos;fleetctl destroy update-scripts || :&apos;&quot;
while [ &quot;$(eval &quot;${SSHCMD} &apos;fleetctl list-units|grep update-scripts&apos;&quot;)&quot; != &quot;&quot; ]; do sleep 1; done
eval &quot;${SSHCMD} &apos;fleetctl submit ${HOST_SCRIPT_DIR}/util-units/update-scripts.service&apos;&quot;
eval &quot;${SSHCMD} &apos;fleetctl start update-scripts&apos;&quot;
echo &quot;--------&gt; submitted script update request to cluster...&quot;
while [ &quot;$(eval &quot;${SSHCMD} &apos;fleetctl list-units|grep update-scripts|tr -s [:space:]|cut -s -f3|uniq&apos;&quot;)&quot; != &quot;inactive&quot; ]
do
    sleep 1
done
eval &quot;${SSHCMD} &apos;fleetctl destroy update-scripts || :&apos;&quot;
while [ &quot;$(eval &quot;${SSHCMD} &apos;fleetctl list-units|grep update-scripts&apos;&quot;)&quot; != &quot;&quot; ]; do sleep 1; done</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>