<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Fire off the update-scripts util-unit script on ALL nodes.&#xd;
This should force all nodes to pull new contents into /home/core/mesos-systemd&#xd;
&#xd;
The fleet unit that does this will then continue to run on all new nodes too.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>FORK</name>
          <description>Username/Fork of mesos-systemd scripts.</description>
          <defaultValue>behance</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SHA</name>
          <description>Any working tree that exists in $FORK</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -e
bash $JENKINS_HOME/scripts/submit-update-scripts.sh

echo &quot;cluster synced&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>