<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Perform a fleetctl command on ALL ${TIER} units for ${FLEET_UNIT}@.service</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>FLEET_UNIT</name>
          <description>Name of the fleet unit.
e.g.: marathon@.service --&gt; marathon</description>
          <defaultValue>marathon</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>COMMAND</name>
          <description>command passed to fleetctl</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>stop</string>
              <string>start</string>
              <string>destroy</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>TIER</name>
          <description>Specifies the group of machines whos IPs will be used in the unit specifiers</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>control</string>
              <string>proxy</string>
              <string>worker</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if [ -z $FLEET_UNIT ] || [ $FLEET_UNIT = &quot;&quot; ]; then
    exit 1
fi

eval ${SETUPKEYS}

for ip in $(eval &quot;${SSHCMD} &apos;fleetctl list-machines|grep ${TIER}|cut -f2 -s&apos;&quot;); do
    eval &quot;${SSHCMD} &apos;fleetctl ${COMMAND} ${FLEET_UNIT}@${ip}&apos;&quot;
done</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>