<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>KILLS THIS INSTANCE OF JENKINS&#xd;
Whether or not it restarts &amp; how is up to the systemd unit that started it.&#xd;
&#xd;
Unit File: https://github.com/behance/mesos-systemd/blob/master/v1/fleet_units/jenkins.service</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>1</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>kill -9 `ps aux|grep jenkins.war|grep -v &quot;grep jenkins&quot;|awk &apos;{print $2}&apos;`</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>