<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>show data on the cluster</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
echo &quot;=====================UNITS=======================&quot;
eval &quot;${SSHCMD} &apos;fleetctl list-units&apos;&quot;
echo &quot;&quot;
echo &quot;====================MACHINES=====================&quot;
eval &quot;${SSHCMD} &apos;fleetctl list-machines&apos;&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>